header{background: #487922;}

.top-bar {
  padding: 0px;
  font-size: 12px;
  border-bottom: 4px solid#3621c;
  min-height: 48px;
}
.main-header {
  padding: 20px 0 25px;
}

.site-title {
  color: #fff;
}


